@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;700&display=swap');
/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: BladeRunner;
    src: url('font/BLADRMF_.TTF');
}

body {
    background-color: #01012b;
}

.logo {
    font-family: 'BladeRunner';
    text-align: center;
    font-size: 4em;
    color: #05d9e8;   
}

.barra_navegacao {
    background-color: #005678;
}

.barra_navegacao h3{
    font-family: 'Bebas Neue', sans-serif;
    color: #d1f7ff;
    font-size: 1.5em;
}

.barra_navegacao h3:hover{
    color: #ff2a6d;
}

#ordernar{
    font-family: 'Bebas Neue', sans-serif;
    color: #d1f7ff;
    font-size: 1.2em;
}

.popup_style{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #005678;
    text-align: center;
    color: #05d9e8;;
}

.adicionar:hover{
    outline: 5px solid #ff2a6d;
}