@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;700&display=swap');
/* font-family: 'Bebas Neue', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
    background-color: rgba(108, 122, 137);
}


#logo_container {
    background-color: #ffffff;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 4em;
    color: #240090;   
}

.barra_navegacao {
    background-color: #0c0032;
}

.barra_navegacao h3{
    font-family: 'Bebas Neue', sans-serif;
    color: #3500d3;
    font-size: 1.5em;
}

#fundo_cards{
    background-color: #3d3d3d;
}
